# 리스트 응용
## 가장큰수 가장작은수 구하기

In [1]:
a = [32, 45, 2, 5, 76] 

small = a[0] 

for i in a:  
    if i < small:
        small = i

print(small)

2

In [2]:
a = [32, 45, 2, 5, 76]
large = a[0]
for i in a:
    if i > large:
        large = i
large

76

In [3]:
a = [32, 45, 2, 5, 76]
a.sort()
a[0]

2

In [4]:
a = [32, 45, 2, 5, 76]
a.sort(reverse=True)
a[0]

76

In [5]:
a = [32, 45, 2, 5, 76]
min(a)

2

In [6]:
a = [32, 45, 2, 5, 76]
max(a)

76

### 합계 구하기

In [10]:
a = [32, 45, 2, 5, 76]
b = 0
for i in a:
    b += i
b

160

In [2]:
a = [32, 45, 2, 5, 76]
sum(a)

160

### split, join 함수

In [7]:
fruit = "사과,배,옥수수,당근"
fruit_list = fruit.split(",")
print(fruit_list)

['사과', '배', '옥수수', '당근']

In [15]:
fruit_list = ['사과', '배', '옥수수', '당근']
fruit = "".join(fruit_list) 
print(fruit)
fruit = " ".join(fruit_list) 
print(fruit)
fruit = ",".join(fruit_list) 
print(fruit)

사과배옥수수당근
사과 배 옥수수 당근
사과,배,옥수수,당근

### 리스트 컴프리핸션 (list comprehension)

In [16]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
a = [i + 5 for i in range(10)]
a

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [2]:
a = [i * 3 for i in range(10)]
a

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [23]:
a = [i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

In [24]:
a = [i for i in range(10) if i % 2 == 1]
a

[1, 3, 5, 7, 9]

In [1]:
a = [i * j for i in range(2, 10) for j in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

#### 리스트를 딕셔너리로 변경

In [20]:
keys = ['name', 'age', 'address']
users = ['tom', 20, 'incheon']

dic = {keys[i] : users[i] for i in range(0, 3)}
dic

{'name': 'tom', 'age': 20, 'address': 'incheon'}

### ZIP

In [22]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]

dic = dict(zip(keys, users)) 
print(dic) 
lis = list(zip(keys, users))
print(lis)

{'name': 'tom', 'age': 20, 'address': 'incheon'}
[('name', 'tom'), ('age', 20), ('address', 'incheon')]

### 2차원 리스트 응용

In [23]:
a = [[10, 20], [20, 40], [50, 60]]
a

[[10, 20], [20, 40], [50, 60]]

In [4]:
a = [[10, 20],
     [20, 40],
     [50, 60]]
a

[[10, 20], [20, 40], [50, 60]]

In [26]:
a[0][0], a[0][1], a[1][1]

(10, 20, 40)

In [27]:
a = [[10, 20], [20, 40], [50, 60]]
a[0].append(10)
a[1].append(20)
a[2].extend([20, 30])

print(a)

[[10, 20, 10], [20, 40, 20], [50, 60, 20, 30]]

## for 문을 이용하여 2차원리스트 꺼내기
### for 반복문 한번사용

In [62]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a: 
    print(x, y)

10 20
30 40
50 60

### for문을 두번사용

In [9]:
a = [[10, 20], [30, 40], [50, 60]]
for i in a:
    for j in i:
        print(j, end=' ')
    print()

10 20
30 40
50 60

### for 와 range 사용

In [69]:
a = [[10, 20], [30, 40], [50, 60]]

for i in range(len(a)):
    for j in range(len(a[i])):        
        print(a[i][j], end=" ")
    print()

10 20
30 40
50 60

### for 와 enumerate 사용

In [76]:
a = [[10, 20], [30, 40], [50, 60]]

for idx, val in enumerate(a):
    for idx2, val2 in enumerate(val):
        print(idx, idx2, val2)

0 0 10
0 1 20
1 0 30
1 1 40
2 0 50
2 1 60

### 2차원 리스트 만들기

In [3]:
a = []  

for i in range(3):
    temp = [] 
    for j in range(2):
        temp.append(0)  
    a.append(temp)  

print(a)

[[0, 0], [0, 0], [0, 0]]