# 리스트 응용
## 가장큰수 가장작은수 구하기

In [1]:
a = [32, 45, 2, 5, 76]  # 숫자들로 이루어진 리스트 a

small = a[0]  # 초기 최소값은 무엇으로 둬도 상관 없음

for i in a:  # 리스트의 모든 요소를 순회
    if i < small:  # 현재 요소가 small 변수에 저장된 값보다 작은지 확인
        small = i  # 현재 요소가 더 작으면 small 변수에 현재 요소 값을 할당

print(small)

2

In [2]:
a = [32, 45, 2, 5, 76]
large = a[0]
for i in a:
    if i > large:
        large = i
large

76

In [3]:
a = [32, 45, 2, 5, 76]
a.sort()
a[0]

2

In [4]:
a = [32, 45, 2, 5, 76]
a.sort(reverse=True)
a[0]

76

In [5]:
a = [32, 45, 2, 5, 76]
min(a)

2

In [6]:
a = [32, 45, 2, 5, 76]
max(a)

76

### 합계 구하기

In [10]:
a = [32, 45, 2, 5, 76]
b = 0
for i in a:
    b += i
b

160

In [2]:
a = [32, 45, 2, 5, 76]
sum(a)

160

### split, join 함수

In [7]:
fruit = "사과,배,옥수수,당근"
fruit_list = fruit.split(",")
print(fruit_list)

['사과', '배', '옥수수', '당근']

In [15]:
fruit_list = ['사과', '배', '옥수수', '당근']
fruit = "".join(fruit_list) # 리스트의 요소들을 빈 문자열("")로 합쳐서 하나의 문자열로 만듦
print(fruit)
fruit = " ".join(fruit_list) # 리스트의 요소들을 공백(" ")으로 합쳐서 하나의 문자열로 만듦
print(fruit)
fruit = ",".join(fruit_list) # 리스트의 요소들을 쉼표(",")로 합쳐서 하나의 문자열로 만듦
print(fruit)

사과배옥수수당근
사과 배 옥수수 당근
사과,배,옥수수,당근

### 리스트 컴프리핸션 (list comprehension)

In [16]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
a = [i + 5 for i in range(10)]
a

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [20]:
a = [i +3 for i in range(10)]
a

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [23]:
a = [i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

In [24]:
a = [i for i in range(10) if i % 2 == 1]
a

[1, 3, 5, 7, 9]

In [19]:
a = [i * j for i in range(2, 10) for j in range(1,10) ]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [1]:
a = [i * j for i in range(2, 10) for j in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

#### 리스트를 딕셔너리로 변경

In [20]:
keys = ['name', 'age', 'address']
users = ['tom', 20, 'incheon']

dic = {keys[i] : users[i] for i in range(0, 3)}
dic

{'name': 'tom', 'age': 20, 'address': 'incheon'}

### ZIP

In [22]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]

dic = dict(zip(keys, users)) 
print(dic) # 첫번째 요소가 키가 되고, 두번째 요소가 값이 됨. 기본적으로 키-값 쌍은 기본적으로 중괄호에 둘러싸여 있음
lis = list(zip(keys, users))
print(lis) #각 튜플이 리스트의 요소가 되기 때문에 튜플 형태 그대로를 반환

{'name': 'tom', 'age': 20, 'address': 'incheon'}
[('name', 'tom'), ('age', 20), ('address', 'incheon')]

### 2차원 리스트 응용

In [23]:
a = [[10, 20], [20, 40], [50, 60]]
a

[[10, 20], [20, 40], [50, 60]]

In [4]:
a = [[10, 20],
     [20, 40],
     [50, 60]]
a

[[10, 20], [20, 40], [50, 60]]

In [26]:
a[0][0], a[0][1], a[1][1]

(10, 20, 40)

In [27]:
a = [[10, 20], [20, 40], [50, 60]]
a[0].append(10)
a[1].append(20)
a[2].extend([20, 30])

print(a)

[[10, 20, 10], [20, 40, 20], [50, 60, 20, 30]]

## for 문을 이용하여 2차원리스트 꺼내기
### for 반복문 한번사용

In [29]:
a = [[10, 20], [30, 40], [50, 60]]

for x in a: # 리스트 a의 각 요소(서브 리스트)를 변수 x에 할당하며 순회
    print(x) # 변수 x를 출력, 여기서 x는 서브 리스트가 됨

[10, 20]
[30, 40]
[50, 60]

In [62]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a: 
    """
    작동 흐름
    1. 리스트 a의 각 서브 리스트의 요소를 변수 x와 y에 할당하며 순회
    2. 변수 x와 y를 출력, 여기서 x와 y는 서브 리스트의 개별 요소가 됨
    -> x, y 를 하나의 변수라고 생각하고, 순서대로 나눠 할당된다고 생각
    """
    print(x, y)

10 20
30 40
50 60

### for문을 두번사용

In [9]:
a = [[10, 20], [30, 40], [50, 60]]
for i in a:
    for j in i:
        print(j, end=' ')
    print()

10 20
30 40
50 60

### for 와 range 사용

In [69]:
a = [[10, 20], [30, 40], [50, 60]]

for i in range(len(a)):
    for j in range(len(a[i])):        
        print(a[i][j], end=" ")
    print()

10 20
30 40
50 60

### for 와 enumerate 사용

In [76]:
a = [[10, 20], [30, 40], [50, 60]]

for idx, val in enumerate(a):
    for idx2, val2 in enumerate(val):
        print(idx, idx2, val2)

0 0 10
0 1 20
1 0 30
1 1 40
2 0 50
2 1 60

In [7]:
# 위 코드 개선

a = [[10, 20], [30, 40], [50, 60]]

for idx, val in enumerate(a):
    for idx2, val2 in enumerate(val):
        print(f"a[{idx}][{idx2}] : {val2}")

a[0][0] : 10
a[0][1] : 20
a[1][0] : 30
a[1][1] : 40
a[2][0] : 50
a[2][1] : 60

### 2차원 리스트 만들기

In [31]:
a = []  

for i in range(3):  # 외부 루프
    temp = []  # 내부 루프에서 사용하는 임시 리스트 temp 정의
    for j in range(2):  # 내부 루프 
        temp.append(0)  
    a.append(temp)  

print(a)

[[0, 0], [0, 0], [0, 0]]

## while 문을 이용하여 2차원리스트 꺼내기 (강의안에 없음)
### while 반복문 한번사용

In [3]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
    x, y = a[i]
    print(x, y)
    i += 1

10 20
30 40
50 60

### while 반복문을 두번사용

In [83]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
    j = 0
    while j < len(a[i]):
        print(a[i][j], end= " ")
        j += 1
    print()
    i += 1

10 20
30 40
50 60

In [97]:
a = []
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)
a

[[0, 0], [0, 0], [0, 0]]

### for 반복문을 사용 2차원 리스트 만들기

In [2]:
a = []
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
        a.append(line)
print(a)

[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]